###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5788644c49ac5869fa24aa5fcb2bfbc2
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://dev:dev@database:3306/symfony1?serverVersion=8.0"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

API_TOKEN=
